:root {
  --black-900: #2a2b2a;
  --black-800: #3c3f41;
  --green-500: #558f2d;
  --green-300: #516c4c;
  --gray-50: #4e5355;
  --gray-100: #a9b7c6;
  --gray-300: #777060;
  --folder-color: #86939b;
  --source-root-color: #3f87a0;
  --boolean-color: #c67432;
  --function-color: #f4a047;
  --blue-900: #0c283e;
  --blue-500: #315f77;
  --blue-400: #2e64ca;

  --sidebar-width: 380px;
  --terminal-height: 38vh;
}

@media (max-width: 1024px) {
  :root {
    --sidebar-width: 260px;
    --terminal-height: 34vh;
  }
}

@media (max-width: 768px) {
  :root {
    --sidebar-width: 100%;
    --terminal-height: auto;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  background-color: var(--black-900);
  height: 100%;
  overflow: hidden;
  font-family: 'JetBrains Mono', monospace;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--black-800);
}

::-webkit-scrollbar-thumb {
  background: var(--gray-50);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray-300);
}
